.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard{
  display: flex;
}

.sidebar {
  /* 其他样式 */
  width: 250px;
}

.homepage  {
  flex: 5;
}

.sidebar {
  /* 其他样式 */
  width: 250px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 0;
  }
  .sidebar.open {
    width: 250px;
  }
}


